.searchbar-wrapper {
    position: relative;
    width: 300px;
    margin: 20px;
}

.searchbar-input-element {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.searchbar-suggestion-list {
    position: absolute;
    top: 25px;
    left: 5px;
    right: 0;
    width: 310px;
    background-color: white;
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
    z-index: 100;
}

.searchbar-suggestion-element {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}